#### [가제: 대구지하철 호선도에 따른 정보들 파헤치기]

1. 메인데이터 => 승하차정보
    1) 1,2,3호선별 해마다 전체 승객률
	
    2) (최근 5년간) 2019년 ~ 2024년 1,2,3호선별 가장 많이 타고 내리는 곳 (top5)


2.	1) 공기질 데이터 --> 역별 사용인구에 따른 대기질 확인 => 공기청정기, 공조설비 설치 현황 대조
	2) 주변시설 (역주변), 역세권 데이터 --> 실제로 유동인구와 역세권 데이터가 부합하는지 확인
	3) 공공시설 (휠체어,엘리베이터,자동심장) 데이터 --> 유동인구에 따른 노약자 편의시설 지원여부
	4) 시설물 사용량 (물, 돈) --> 매년 총 승차인원별 수입 추세, 물 사용량 추세
        * 1호선, 2호선, 3호선 별 해마다 수입 상승률

#### [ 가제: 대구지하철 호선도에 따른 정보들 파헤치기 - Matplotlib ]
- 데이터셋 : 대구교통공사 - 공공데이터들
    - 1) 연도별 승차인원 (1997년~), 연도별 하차인원 (2006년~), (국가철도공단_대구교통공사_호선구성역정보)
        - 역별 승차,하차 인원 총원 변화 추세도
        - 2019년 ~ 2024년 호선별 가장 많이 타고 (승차) 내리는 곳 (하차) (TOP5)
    - 2) 주변시설 (역주변), 역세권 데이터 --> 실제로 유동인구와 역세권 데이터가 부합하는지 확인

- 과정
    * 데이터파일 확인 
        - 첫번째 줄이 컬럼명 맞는지 확인 
        - 불필요한 컬럼이나 행이 있는지 확인
        - 결측치 정도 확인
    * 데이터 전처리 : 데이터 정리 및 손질 
        - 파일 확인 후 체크한 사항 진행 
        - 결측치 처리
        - 이상치 처리
        - 중복데이터 처리
        - 형변환 => 실제 데이터와 타입 일치 
    * 데이터 가공 : 분석하고자하는 데이터 형태 
        - 행인덱스 처리 : 멀티인덱스/컬럼=>행인덱스/행인덱스 초기화 
        - 필요한 컬럼 & 행 추출 
        - 추가적인 결측치/이상치/중복데이터 처리 
        - 형변환 => 연속 -> 범주형, 범주형 -> 연속형
    * 데이터 분석 
        - 탐색적 분석 : 주어진 데이터를 기반으로 의미를 찾아내는 것
        - 시각화 및 분석 결과 텍스트 요약 정리

In [1]:
# [1] 모듈 생성
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
rawDF = pd.read_csv(r'C:\Users\KDP-50\OneDrive\바탕 화면\PANDAS06\work(project02)\대구교통공사_월별승차인원_199711~202405.csv',
                    encoding='cp949')
rawDF

,년,월,설화명곡,화원,대곡,진천,월배,상인,월촌,송현,...,건들바위,대봉교,수성시장,수성구민운동장,어린이세상,황금,수성못,지산,범물,용지
0,1997,11,0,0,0,52042,22003,45814,29193,19727,...,0,0,0,0,0,0,0,0,0,0
1,1997,12,0,0,0,191050,106584,233005,131793,106512,...,0,0,0,0,0,0,0,0,0,0
2,1998,1,0,0,0,164212,93112,203852,107486,96989,...,0,0,0,0,0,0,0,0,0,0
3,1998,2,0,0,0,145247,88743,197313,107783,93817,...,0,0,0,0,0,0,0,0,0,0
4,1998,3,0,0,0,155849,95529,212187,133677,100144,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,2024,1,133248,114713,138140,234036,124398,319340,118089,101986,...,45659,82494,85930,48259,32112,83370,64866,64675,109435,68993
315,2024,2,125739,100339,129908,218546,115318,299619,109537,96360,...,43357,71758,77016,43329,29170,77389,60963,59581,100761,62800
316,2024,3,149349,122829,147618,247350,132533,341813,127619,106819,...,49277,85103,89108,50795,34620,88373,77593,69335,114765,71143
317,2024,4,148189,121405,144973,242396,129974,332735,125907,105284,...,50159,86212,87929,51911,36087,87924,82510,69464,117159,71461
318,2024,5,154133,126262,151747,256915,136823,351697,130801,109534,...,51076,87597,90231,52707,37409,90891,77617,71182,119928,73272

In [6]:
rawDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 93 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년        319 non-null    int64
 1   월        319 non-null    int64
 2   설화명곡     319 non-null    int64
 3   화원       319 non-null    int64
 4   대곡       319 non-null    int64
 5   진천       319 non-null    int64
 6   월배       319 non-null    int64
 7   상인       319 non-null    int64
 8   월촌       319 non-null    int64
 9   송현       319 non-null    int64
 10  서부정류장    319 non-null    int64
 11  대명       319 non-null    int64
 12  안지랑      319 non-null    int64
 13  현충로      319 non-null    int64
 14  영대병원     319 non-null    int64
 15  교대       319 non-null    int64
 16  명덕1      319 non-null    int64
 17  반월당1     319 non-null    int64
 18  중앙로      319 non-null    int64
 19  대구역      319 non-null    int64
 20  칠성시장     319 non-null    int64
 21  신천       319 non-null    int64
 22  동대구역     319 non-null    int64
 23  동구청      319 non-null    int64
 24  아양교      319 non-null    int64
 25  동촌       319 non-null    int64
 26  해안       319 non-null    int64
 27  방촌       319 non-null    int64
 28  용계       319 non-null    int64
 29  율하       319 non-null    int64
 30  신기       319 non-null    int64
 31  반야월      319 non-null    int64
 32  각산       319 non-null    int64
 33  안심       319 non-null    int64
 34  문양       319 non-null    int64
 35  다사       319 non-null    int64
 36  대실       319 non-null    int64
 37  강창       319 non-null    int64
 38  계명대      319 non-null    int64
 39  성서산업단지   319 non-null    int64
 40  이곡       319 non-null    int64
 41  용산       319 non-null    int64
 42  죽전       319 non-null    int64
 43  감삼       319 non-null    int64
 44  두류       319 non-null    int64
 45  내당       319 non-null    int64
 46  반고개      319 non-null    int64
 47  청라언덕2    319 non-null    int64
 48  반월당2     319 non-null    int64
 49  경대병원     319 non-null    int64
 50  대구은행     319 non-null    int64
 51  범어       319 non-null    int64
 52  수성구청     319 non-null    int64
 53  만촌       319 non-null    int64
 54  담티       319 non-null    int64
 55  연호       319 non-null    int64
 56  대공원      319 non-null    int64
 57  고산       319 non-null    int64
 58  신매       319 non-null    int64
 59  사월       319 non-null    int64
 60  정평       319 non-null    int64
 61  임당       319 non-null    int64
 62  영남대      319 non-null    int64
 63  칠곡경대병원   319 non-null    int64
 64  학정       319 non-null    int64
 65  팔거       319 non-null    int64
 66  동천       319 non-null    int64
 67  칠곡운암     319 non-null    int64
 68  구암       319 non-null    int64
 69  태전       319 non-null    int64
 70  매천       319 non-null    int64
 71  매천시장     319 non-null    int64
 72  팔달       319 non-null    int64
 73  공단       319 non-null    int64
 74  만평       319 non-null    int64
 75  팔달시장     319 non-null    int64
 76  원대       319 non-null    int64
 77  북구청      319 non-null    int64
 78  달성공원     319 non-null    int64
 79  서문시장     319 non-null    int64
 80  청라언덕3    319 non-null    int64
 81  남산       319 non-null    int64
 82  명덕3      319 non-null    int64
 83  건들바위     319 non-null    int64
 84  대봉교      319 non-null    int64
 85  수성시장     319 non-null    int64
 86  수성구민운동장  319 non-null    int64
 87  어린이세상    319 non-null    int64
 88  황금       319 non-null    int64
 89  수성못      319 non-null    int64
 90  지산       319 non-null    int64
 91  범물       319 non-null    int64
 92  용지       319 non-null    int64
dtypes: int64(93)
memory usage: 231.9 KB

In [7]:
rawDF.index

RangeIndex(start=0, stop=319, step=1)

In [8]:
rawDF.columns

Index(['년', '월', '설화명곡', '화원', '대곡', '진천', '월배', '상인', '월촌', '송현', '서부정류장',
       '대명', '안지랑', '현충로', '영대병원', '교대', '명덕1', '반월당1', '중앙로', '대구역', '칠성시장',
       '신천', '동대구역', '동구청', '아양교', '동촌', '해안', '방촌', '용계', '율하', '신기', '반야월',
       '각산', '안심', '문양', '다사', '대실', '강창', '계명대', '성서산업단지', '이곡', '용산', '죽전',
       '감삼', '두류', '내당', '반고개', '청라언덕2', '반월당2', '경대병원', '대구은행', '범어', '수성구청',
       '만촌', '담티', '연호', '대공원', '고산', '신매', '사월', '정평', '임당', '영남대', '칠곡경대병원',
       '학정', '팔거', '동천', '칠곡운암', '구암', '태전', '매천', '매천시장', '팔달', '공단', '만평',
       '팔달시장', '원대', '북구청', '달성공원', '서문시장', '청라언덕3', '남산', '명덕3', '건들바위',
       '대봉교', '수성시장', '수성구민운동장', '어린이세상', '황금', '수성못', '지산', '범물', '용지'],
      dtype='object')

In [5]:
# 연도별 총합

rawDF.sum(axis=1)

0        522206
1       2387666
2       2086634
3       1962049
4       2123255
         ...
314    11512456
315    10697289
316    12661829
317    12497208
318    13140713
Length: 319, dtype: int64